body {
    font-family: "Comic Sans MS";
    margin: 0;
  }
  
  #banner {
    background-color: #d8d8d8;
    background-position: center;
    background-size: cover;
    padding: 20vh 20px;
    text-align: center;
  }

  .section {
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }
  
  .section svg {
    border: 1px solid red;
    flex: 2;
    height: 300px;
    margin: 20px;

  }

  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }
  
  h1 {
    font-family: "Sans Serif";
    font-size: 20;
    text-align: center;
  }
  h2 {
    font-family: "Sans Serif";
    font-size: 10;
    font-weight: lighter;
    text-align: center;
  }
  h3 {
    font-family: "Sans Serif";
    font-size: 10;
    font-weight: lighter;
    text-align: center;
  }

  #tooltip {
    background:white
    border: 1px black
    display: none;
    position: absolute;
  }
  