h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-style: light;
    font-weight: regular;
    letter-spacing: -2.5px;
    line-height: 1;
    color: #000000;
    text-align: center;
    margin-left: 0px;
    margin-top: 175px;
    position:relative; 
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
#banner {
  background-color: #00cc00;
  padding: 20vh 20px;
  text-align: center;
}
.section {
  display: flex;
  padding: 50px;
}

.section p {
  flex: 1;
}

.section svg {
  border: 1px solid rgb(0, 0, 0);
  flex: 2;
  height: 300px;
  margin: 20px;
}

h4 {
  left: 850px; 
  bottom: -725px;
  font-family: 'Roboto', sans-serif;
  position:absolute; 
  float: left;
  text-align: right;
  font-size: 20px;
  font-weight:normal;
  position:relative; 
}

h6 {
  left: -90px; 
  bottom: -500px;
  position:absolute; 
  font-family: 'Roboto', sans-serif;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight:normal;
  position:relative; 
}

h5 {
  left: 450px; 
  bottom: -450px;
  font-family: 'Roboto', sans-serif;
  float: left;
  text-align: center;
  font-size: 20px;
  position:relative; 
  font-weight:normal;
}

h2 {
  right: -450px; 
  bottom: -125px;
  font-family: 'Roboto', sans-serif;
  float: left;
  text-align: center;
  font-size: 20px;
  position:relative; 
  font-weight:normal;
}
h3 {
  right: 100px; 
  bottom: -275px;
  float: left;
  text-align: center;
  position:relative; 
  font-weight:normal;
}
.h7 {
  left: 780px; 
  bottom: -750px;
  float: left;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-weight:normal;
  font-size: 20px;
  position:relative; 
}
.h8 {
  left: -700px; 
  bottom: -675px;
  float: center;
  position:relative; 
}
.h9 {
  left: -300px; 
  bottom: -2000px;
  float: center;
  position:relative; 
}
.h10 {
  bottom: -275px;
  float: center;
  position:relative; 
}
.h11 {
  bottom: -730px;
  float: center;
  position:relative; 
}
.h12 {
  bottom: -20px;
  float: center;
  position:relative; 
}
.h13 {
  bottom: -10px;
  left: 100px;
  float: center;
  position:relative; 
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-style:italic;
}
.h14 {
  bottom: -400px;
  float: center;
  position:relative; 
}
.h15 {
  bottom: -740px;
  float: center;
  position:relative; 
}
.h16 {
  bottom: -260px;
  right: 0px;
  text-align: right;
  float: center;
  position:relative; 
}
.h17 {
  bottom: -860px;
  right: 0px;
  text-align: right;
  float: center;
  position:relative; 
}
.h18 {
  bottom: -600px;
  right: 0px;
  text-align: right;
  float: center;
  position:relative; 
}
.h19 {
  bottom: -710px;
  right: -0px;
  text-align: right;
  float: center;
  position:relative; 
}
.h20 {
  bottom: -260px;
  right: -0px;
  text-align: right;
  float: center;
  position: relative; 
}
.h21 {
  bottom: -900px;
  right: -0px;
  text-align: right;
  float: center;
  position: relative; 
}
.wrapper {
  width: 400px;
  height: 400px;
  background: #3E9E6C;
  stroke: black;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  bottom: -825px;
  transform: rotate(108deg);
}
.wrapper .d1 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(0deg);
}
.wrapper .d1 div {
  width: 800px;
  height: 800px;
}
.wrapper .d1 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: #3E9E6C;
  stroke: black;
  position: relative;
  transform: scaleX(-180.72deg);
}
.wrapper .d1 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transform: rotate(-108deg);
}
.wrapper .d2 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(147.6deg);
}
.wrapper .d2 div {
  width: 800px;
  height: 800px;
}
.wrapper .d2 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: #B9BF78;
  stroke: black;
  position: relative;
  transform: scaleX(0.781);
}
.wrapper .d2 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transform: rotate(-255.6deg);
}
.wrapper .d3 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(201.6deg);
}
.wrapper .d3 div {
  width: 800px;
  height: 800px;
}
.wrapper .d3 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: #339989;
  stroke: black;
  position: relative;
  transform: scaleX(0.602);
}
.wrapper .d3 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: -25px;
  top: 33%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transform: rotate(-309.6deg);
}
.wrapper .d4 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(237.6deg);
}
.wrapper .d4 div {
  width: 800px;
  height: 800px;
}
.wrapper .d4 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: #00713D;
  stroke: black;
  position: relative;
  transform: scaleX(0.40);
}
.wrapper .d4 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transform: rotate(-345.6deg);
}
.wrapper .d5 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(-90deg);
}
.wrapper .d5 div {
  width: 800px;
  height: 800px;
}
.wrapper .d5 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: #002d18;
  position: relative;
  stroke: black;
  transform: scaleX(0.20);
}
.wrapper .d5 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transform: rotate(-375.6deg);
}
.h22 {
  left: -0px; 
  bottom: -800px;
  font-family: 'Roboto', sans-serif;
  position:absolute; 
  float: center;
  text-align: center;
  font-size: 20px;
  font-weight:normal;
  position:relative; 
}
.h23 {
  left: -0px; 
  bottom: -850px;
  position:absolute; 
  float: center;
  text-align: center;
  font-size: 20px;
  font-weight:normal;
  position:relative; 
}
.h24 {
  left: 100px; 
  bottom: -800px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h25 {
  left: -100px; 
  bottom: -780px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h29 {
  left: 50px; 
  bottom: -693px;
  position:relative; 
  float: center;
  text-align: center;
  font-size: 10px;
}
.h27 {
  left: -50px; 
  bottom: -747px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h28 {
  left: -0px; 
  bottom: -725px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h30 {
  left: -800px; 
  bottom: -800px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h31 {
  left: -675px; 
  bottom: -1125px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h32 {
  left: -550px; 
  bottom: -1175px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h33 {
  left: -425px; 
  bottom: -1200px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h34 {
  left: -300px; 
  bottom: -1180px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h35 {
  left: -175px; 
  bottom: -1050px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h36 {
  left: 200px; 
  bottom: -1175px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h37 {
  left: 325px; 
  bottom: -1175px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h38 {
  left: 450px; 
  bottom: -1175px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h39 {
  left: 575px; 
  bottom: -1165px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 10px;
}
.h40 {
  left: 0px; 
  bottom: -875px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 40px;
  letter-spacing: -2.5px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.h41 {
  left: 0px; 
  bottom: -850px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.h42 {
  left: 0px; 
  bottom: -850px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.h43 {
  left: 0px; 
  bottom: -975px;
  position:absolute; 
  float: center;
  text-align: center;
  position:relative; 
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}